<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="style/style.css">
    <title>Document</title>
</head>
<body>
    <div class="background-header"></div>
    <main>
        <div id="app" class="container">
            <aside class="side-bar">
                <div class="side-bar-header">
                    <div class="side-bar-header-left">
                        <div class="avatar">
                            <img class="avatar-img" src="img/avatar_io.jpg" alt="avatar-utente">
                        </div>
                        <span class="username">Nome Utente</span>
                    </div>
                    <div class="side-bar-header-right">
                        <i class="fas fa-circle-notch"></i>
                        <i class="fas fa-comment-alt"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>
                <div class="message-notification">
                    <div class="icon-container">
                        <i class="fas fa-bell-slash"></i>
                    </div>
                    <span class="notification-text">
                        <span class="notification-title">Ricevi notifiche di nuovi messaggi</span>
                        <span class="notification-subtitle">Attiva notifiche desktop</span>
                    </span>
                </div>
                <div class="search-label">
                    <i class="fas fa-search"></i>
                    <input type="text" v-model="search" placeholder="Cerca o inizia una nuova chat">
                </div>
                <div class="chat-box">
                    <div class="contact" v-for="contact, i in filteredList" :key="i" @click="removeActive(),addActive(i)"> 
                        <div class="avatar">
                            <img class="avatar-img" :src="contacts[i].avatar" alt="avatar-utente">
                        </div>
                        <div class="text">
                            <div class="username">
                                {{contacts[i].name}}
                            </div>
                            <div class="last-message">
                                {{contacts[i].messages[contacts[i].messages.length - 1].text}} ...
                            </div>
                        </div>
                    </div>
                </div>
            </aside>
            <div class="main-conversation">
                <div class="conversation-header">
                        <div class="side-bar-header-left" v-for="contact,i in contacts" :key="i" v-if="contacts[i].active === true">
                            <div class="avatar">
                                <img class="avatar-img" :src="contacts[i].avatar" alt="avatar-utente">
                            </div>
                            <div class="left-header-text">
                                <span class="username">{{contacts[i].name}}</span>
                                <span class="last-seen">Ultimo accesso il: {{contacts[i].messages[contacts[i].messages.length - 1].date}}</span>
                            </div>
                        </div>
                    <div class="side-bar-header-right">
                        <i class="fas fa-search"></i>
                        <i class="fas fa-paperclip"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>
                <div class="conversation-box">

                    <div v-for="contact,i in contacts" :key="i">
                        <div v-for="message,k in contacts[i].messages" :key="k">                        
                            <div v-if="contacts[i].active === true && contacts[i].messages[k].status === 'sent'" class="row-sent">
                                <div class="message sent">
                                    <span class="text">{{contacts[i].messages[k].text}}</span>
                                    <span class="date">{{contacts[i].messages[k].date}}</span>
                                </div>
                            </div>
                            <div v-if="contacts[i].active === true && contacts[i].messages[k].status === 'received'" class="row-recived">
                                <div class="message received">
                                    <span class="text">{{contacts[i].messages[k].text}}</span>
                                    <span class="date">{{contacts[i].messages[k].date}}</span>
                                </div>
                            </div>  
                        </div>
                    </div>


                </div>
                <div class="conversation-typebox" v-for="contact,i in contacts" v-if="contacts[i].active === true">
                    <i class="far fa-smile"></i>
                    <input type="text" v-model="newMessage" placeholder="Scrivi un messaggio" @keydown.enter="addMessage(i)">
                    <i class="fas fa-microphone"></i>
                </div>
            </div>
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="script/script.js"></script>
</body>
</html>