*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #DCDBD2;
    font-family: Arial, Helvetica, sans-serif;
}

.background-header{
    width: 100%;
    height: 150px;
    background-color: #029588;
}

main .container{
    width: 80%;
    height: calc(100vh - 150px);
    margin: auto;
    position: relative;
    bottom: 75px;
    display: flex;
    /* debugging */
    background-color: red;
}

/* styling side bar */
aside.side-bar{
    width: 500px;
    height: 100%;
}

/* styling side-bar header */
aside .side-bar-header{
    width: 100%;
    height: 100px;
    display: flex;
    background-color: #EAEAEA;
}

.side-bar-header-left{
    width: 50%;
    height: 100%;
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.avatar{
    width: 70px;
    min-width: 70px;
    height: 70px;
}

img.avatar-img{
    width: 100%;
    height: 100%;
    border-radius: 50px;
    object-fit: cover;
}
.username{
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
}

 .side-bar-header-right{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.conversation-header i,.side-bar-header i{
    font-size: 30px;
    margin-right: 25px;
    color: #B1B1B1;
    cursor: pointer;
}

/* styling notification message */
aside .message-notification{
    width: 100%;
    height: 125px;
    background-color: #8EDAFC;
    display: flex;
    align-items: center;
}

aside .message-notification .icon-container{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    text-align: center;
    margin: 0 20px 0 25px;
    background-color:  #F2FBFE;
}

aside .message-notification .icon-container i{
    font-size: 30px;
    vertical-align: middle;
    line-height: 70px;
    color:  #8EDAFC;
}

aside .message-notification .notification-text .notification-title{
    font-size: 18px;
    font-weight: bold;
    display: block;
}

aside .message-notification .notification-text .notification-subtitle{
    text-decoration: underline;
    color: grey;
}

/* styling search label */
aside .search-label{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* debugging */
    background-color: #FAFAFA;
}

aside .search-label i{
    color: grey;
}

aside .search-label input{
    width: 90%;
    border: none;
    height: 30px;
    text-decoration: none;
}

aside .chat-box{
    height: calc(100% - 275px);
    overflow: auto;
    /* debugging */
    background-color: white;
}

.chat-box .avatar{
    margin-left: 20px;
}

.contact{
    display: flex;
    padding: 15px 0;
    cursor: pointer;
}

.contact:hover{
    background-color: lightgrey;
}

.last-message{
    margin-left: 10px;
    font-size: 15px;
    color: grey;
}

/* styling conversetion box */
.main-conversation{
    width: calc(100% - 500px);
    height: 100%;
    min-width: 450px;
    /* debugging */
    background-color: orangered;
}
.main-conversation .conversation-header{
    width: 100%;
    height: 100px;
    display: flex;
    background-color: #EAEAEA;
}

.last-seen{
    display: block;
    margin-left: 10px;
    color: grey;
}

.main-conversation .conversation-box{
    width: 100%;
    height: calc(100% - 180px);
    background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.conversation-box .row-recived{
    display: flex;
    justify-content: flex-start;
    margin-left: 30px;
}

.conversation-box .row-sent{
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
}

.main-conversation .conversation-typebox{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #F3EEE9;
}


.main-conversation .conversation-typebox input{
    display: block;
    width: 80%;
    height: 70%;
}

.main-conversation .conversation-typebox i{
    font-size: 30px;
    color: grey;
    cursor: pointer;
}

.message{
    min-width: 200px;
    max-width: 400px;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    position: relative;
}

.received{
    background-color: white;
}

.sent{
    background-color: #D5F9BA;
}

.date{
    position: absolute;
    bottom: 5px;
    right: 10px;
    font-size: 10px;
}