*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #DCDBD2;
    font-family: Arial, Helvetica, sans-serif;
}

.background-header{
    width: 100%;
    height: 150px;
    background-color: #029588;
}

main .container{
    width: 80%;
    height: calc(100vh - 150px);
    margin: auto;
    position: relative;
    bottom: 75px;
    display: flex;
    /* debugging */
    background-color: red;
}

/* styling side bar */
aside.side-bar{
    width: 500px;
    height: 100%;
}

/* styling side-bar header */
aside .side-bar-header{
    width: 100%;
    height: 100px;
    display: flex;
    background-color: #EAEAEA;
}

aside .side-bar-header-left{
    width: 50%;
    height: 100%;
    margin-left: 20px;
    display: flex;
    align-items: center;
}

aside .side-bar-header .side-bar-header-left .avatar{
    width: 70px;
    height: 70px;
}

img.avatar-img{
    width: 100%;
    height: 100%;
    border-radius: 50px;
    object-fit: cover;
}
.username{
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
}

aside .side-bar-header-right{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

aside .side-bar-header .side-bar-header-right i{
    font-size: 30px;
    margin-right: 25px;
    color: #B1B1B1;
    cursor: pointer;
}

/* styling notification message */
aside .message-notification{
    width: 100%;
    height: 125px;
    background-color: #8EDAFC;
    display: flex;
    align-items: center;
}

aside .message-notification .icon-container{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    text-align: center;
    margin: 0 20px 0 25px;
    background-color:  #F2FBFE;
}

aside .message-notification .icon-container i{
    font-size: 30px;
    vertical-align: middle;
    line-height: 70px;
    color:  #8EDAFC;
}

aside .message-notification .notification-text .notification-title{
    font-size: 18px;
    font-weight: bold;
    display: block;
}

aside .message-notification .notification-text .notification-subtitle{
    text-decoration: underline;
    color: grey;
}

aside .search-label{
    width: 100%;
    height: 50px;
    /* debugging */
    background-color: #FAFAFA;
}

aside .chat-box{
    height: calc(100% - 275px);
    /* debugging */
    background-color: white;
}

/* styling conversetion box */
.main-conversation{
    width: calc(100% - 500px);
    height: 100%;
    /* debugging */
    background-color: orangered;
}
.main-conversation .conversation-header{
    width: 100%;
    height: 100px;
    /* debugging */
    background-color: chartreuse;
}
.main-conversation .conversation-box{
    width: 100%;
    height: calc(100% - 200px);
    /* debugging */
    background-color: lavender;
}
.main-conversation .conversation-typebox{
    width: 100%;
    height: 100px;
    background-color: lightskyblue;
}